.navbar{
position: absolute;
top: 0;
left: 0;
display: flex;
width: 100%;
justify-content: space-between;
padding: 20px;
color: whitesmoke;
}
.nav-links a{
color: whitesmoke ;
text-decoration: none;
}
.nav-links{
display: flex;
align-items: center;
cursor: pointer;
}
.nav-links li{
margin: 0 30px;
}
body {
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
background: url('C:/Users/DELL/Documents/Website/images/background.jpg')no-repeat center center/cover;
color: white;
text-align: center;
}

.services {
padding: 50px 20px;
background: rgba(0, 0, 0, 0.85);
}

.services h2 {
font-size: 36px;
margin-bottom: 20px;
position: relative;
text-transfrom: uppercase;
letter-spacing: 1.5px;
}

.services h2::after {
content: "";
display: block;
width: 100px;
height: 3px;
background-color: #00A3FF;
margin: 10px auto;
}

.service-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
}

.service-box {
background: rgba(255, 255, 255, 0.1);
padding: 20px;
width: 280px;
border-radius: 12px;
text-align: center;
transition: 0.4s ease-in-out;
position: relative;
box-shadow: 0 4px 15px rgba(0, 163, 255, 0.5);
}

.service-box:hover {
background: rgba(255, 255, 255, 0.15);
box-shadow: 0 0 15px rgba(0, 163, 255, 0.5);
transform: translateY(-5px);
}

.service-box.active {
background: rgba(0, 163, 255. 0.2);
border: 1px solid #00A3FF;
box-shadow: 0 0 20px rgba(0, 163, 255, 0.7);
}

.service-box .icon {
font-size: 45px;
margin-bottom: 15px;
color: white;
text-shadow: 0 0 10px rgba(0, 163, 255, 0.8);
transition: 0.3s ease-in-out;
}

.service-box h3 {
font-size: 24px;
margin-bottom: 10px;
}

.service-box .highlight {
color: #00A3FF;
}

.service-box p {
font-size: 14px;
color: #D1D1D1;
line-height: 1.6;
}